body{
    margin: 0;
    font-family: Tahoma ;
}

div{
    padding: 30px auto;
    text-align: center;
    
}

p{
    margin: 10px auto;
    width: 980px;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;

}
.div1{
    background-color: #afddfb;
    height: 250px;
}

.logo-div1{
    width: 150px;
}

.div1 p{
    margin: 15px auto;
    text-align: center;
}

.div1 a{
    font-size: 18px;
    color: #1d1d1d;
    border-bottom:2px solid #1d1d1d;
    text-decoration: none;
    margin: 0 10px;
    
}

.div2{
    margin-top: 50px;
    padding-top: 0;
}

span{
    font-weight: bold;

}


.div3 h1{
    color: #1d1d1d;
    margin-bottom: 5px;

}

.div3 h2{
    color: #1c81c0;

}

.div3 img, .div5 img{
    width: 450px;

}

.texto-azul{
    color:#1d80c1;
}

.div4{
    background-color: #1d80c1;
    height: 510px;
}

.div4 h2, .div6 h2{
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
}

.div4 p{
    color: #ffffff;
    line-height: 42px;
    font-size: 22px;
    text-align: center;
    width: 700px;
}

.div4 h2{
    padding-top: 25px;
}

.texto-amarelo{
    color: #fff81b;
}

.div4 ul{
    margin: 40px auto;
    width: 135px;
}

.div4 li{
    color: #ffffff;
    line-height: 42px;
    text-align: left;
    font-size: 22px;

}

.div5 h2{
    color:#1c81c0 ;
}

.div6{
    background-color: #1d80c1;
}

.div6 p{
    color: #ffffff;
    background-color: #1d1d1d;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.div6 ul{
    margin: 40px auto;
    text-decoration: none;
    width: 210px;

}

.div6 li{
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    
}

.div6 a{
    background-color: #ffffff;
    color: #1d80c1;
    padding:2px 5px;
    border-radius:5px 
    
}

.div6{
    height: 700px;
    padding-top: 10px; 
}